body {
	font-family: -apple-system, "Roboto", system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.page {
	.landing{
		min-height: 100vh;

		.landing-content {
			overflow: hidden;

			.landing-hero {
				height: 25vh;
				background-color: white;
				padding: 0 10px;
				overflow: hidden;

				display: flex;
				align-items: flex-end;
				justify-content: center;
				border-top: 1px solid rgba(0, 0, 0, .10);
				border-bottom: 1px solid rgba(0, 0, 0, .10);

				.hero {
					display: flex;
					max-width: 600px;
					flex-direction: column;
					overflow: hidden;
					width: 100%;

					.message {
						display: flex;
						flex-direction: row-reverse;
						align-items: center;
						margin: 3px;

						.user {
							
							font-size: 18px;
							background-color: #c9c9c9;
							padding: 7px 9px;
							border-radius: 20px;
							color: white;
						}

						.messageContent {
							max-width: 300px;
							margin: 0;
							margin-right: 5px;
							padding: 6px 10px;
							border-radius: 15px;
							line-height: 20px;
							font-size: 22px;
							font-weight: 300;
							background-color: #0084ff;
							color: white;
							word-wrap: break-word;
							overflow: wrap;
						}
					}

					.messageSend {
						display: flex;
						flex-direction: row;
						align-items: center;
						margin: 3px;

						.userSend {
							
							font-size: 18px;
							margin-right: 5px;
							background-color: #b1b1b1;
							padding: 7px 9px;
							border-radius: 20px;
							color: white;
						}

						.messageContentSend {
							max-width: 300px;
							margin: 0;
							padding: 6px 10px;
							border-radius: 15px;
							line-height: 20px;
							font-size: 22px;
							font-weight: 300;
							background-color: #f1f0f0;
							color: black;
							word-wrap: break-word;
							overflow: wrap;
						}
					}
				}
				
			}
		}
	}
}
