body {
  font-family: -apple-system, "Roboto", system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.page .landing {
  min-height: 100vh; }
  .page .landing .landing-content {
    overflow: hidden;
    height: 25vh;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    @media only screen and (orientation: portrait) and (max-width: 900px) {
      .page .landing .landing-content {
        height: calc(50vh - 74px); } }
    @media only screen and (orientation: landscape) and (max-height: 600px) {
      .page .landing .landing-content {
        height: calc(100vh - 74px); } }
    .page .landing .landing-content .landing-hero {
      height: 105%;
      background-color: white;
      padding: 0 10px;
      display: flex;
      align-items: flex-end;
      justify-content: center; }
      .page .landing .landing-content .landing-hero .cta {
        text-align: center;
        align-self: center;
        position: absolute;
        z-index: 2; }
        .page .landing .landing-content .landing-hero .cta .cta-text {
          margin: 15px;
          font-size: 60px;
          color: black;
          font-weight: 300;
          line-height: 1; }
        .page .landing .landing-content .landing-hero .cta .cta-button {
          text-decoration: none;
          background-image: linear-gradient(37deg, #f314e8, #901af1);
          box-shadow: 0 2px 6px 0 rgba(181, 45, 222, 0.4);
          color: white;
          padding: 3px 30px;
          font-size: 24px;
          font-weight: 200;
          border-radius: 30px;
          display: inline-block;
          outline: 0;
          user-select: none; }
          .page .landing .landing-content .landing-hero .cta .cta-button:hover {
            background-color: #00aeff;
            box-shadow: 0 4px 12px rgba(150, 51, 231, 0.55);
            transform: scale(1.05); }
        @media only screen and (max-width: 500px) {
          .page .landing .landing-content .landing-hero .cta .cta-text {
            margin: 0 0 10px 0;
            font-size: 40px;
            font-weight: 300; }
          .page .landing .landing-content .landing-hero .cta .cta-button {
            font-size: 20px;
            font-weight: 300; } }
      .page .landing .landing-content .landing-hero .hero {
        display: flex;
        max-width: 600px;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        filter: blur(6px);
        user-select: none; }
        .page .landing .landing-content .landing-hero .hero .message {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          margin: 3px; }
          .page .landing .landing-content .landing-hero .hero .message .user {
            font-size: 18px;
            background-color: #b1b1b1;
            padding: 7px 9px;
            border-radius: 20px;
            color: white; }
          .page .landing .landing-content .landing-hero .hero .message .messageContent {
            max-width: 300px;
            margin: 0;
            margin-right: 5px;
            padding: 6px 10px;
            border-radius: 15px;
            line-height: 20px;
            font-size: 22px;
            font-weight: 300;
            background-color: #0084ff;
            color: white;
            word-wrap: break-word;
            overflow: wrap; }
        .page .landing .landing-content .landing-hero .hero .messageSend {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 3px; }
          .page .landing .landing-content .landing-hero .hero .messageSend .userSend {
            font-size: 18px;
            margin-right: 5px;
            background-color: #b1b1b1;
            padding: 7px 9px;
            border-radius: 20px;
            color: white; }
          .page .landing .landing-content .landing-hero .hero .messageSend .messageContentSend {
            max-width: 300px;
            margin: 0;
            padding: 6px 10px;
            border-radius: 15px;
            line-height: 20px;
            font-size: 22px;
            font-weight: 300;
            background-color: #f1f0f0;
            color: black;
            word-wrap: break-word;
            overflow: wrap; }
