.form-container {
  display: flex;
  align-items: center;
  justify-content: center; }
  .form-container form {
    max-width: 500px;
    padding: 10px; }
    .form-container form h1 {
      font-family: -apple-system, System-ui, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      margin: 0;
      text-align: center;
      font-size: 40px; }
    .form-container form input {
      padding: 6px;
      margin: 5px 0;
      font-size: 18px;
      border: 1px solid #838383;
      border-radius: 3px;
      width: calc(100% - 14px);
      font-weight: 300;
      outline: 0; }
    .form-container form .register-link {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 5px; }
      .form-container form .register-link a {
        padding-top: 6px;
        font-size: 18px;
        font-weight: 300; }
        .form-container form .register-link a:hover {
          color: #004caf; }
        .form-container form .register-link a:active {
          color: #006eff; }
      .form-container form .register-link button {
        font-size: 18px;
        padding: 7px 15px;
        max-height: 40px;
        border-radius: 3px;
        border: 1px solid  #006eff;
        background-color: #006eff;
        color: white;
        outline: 0; }
        .form-container form .register-link button:hover {
          border: 1px solid  #006eff;
          background-color: transparent;
          color: #006eff; }
        .form-container form .register-link button:active {
          border: 1px solid  #006eff;
          background-color: #006eff;
          color: white; }

body {
  font-family: -apple-system, "Roboto", system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.page .landing {
  min-height: 100vh; }
  .page .landing .landing-content {
    overflow: hidden; }
    .page .landing .landing-content .landing-hero {
      height: 25vh;
      background-color: white;
      padding: 0 10px;
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      .page .landing .landing-content .landing-hero .hero {
        display: flex;
        max-width: 600px;
        flex-direction: column;
        overflow: hidden;
        width: 100%; }
        .page .landing .landing-content .landing-hero .hero .message {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          margin: 3px; }
          .page .landing .landing-content .landing-hero .hero .message .user {
            font-size: 18px;
            background-color: #c9c9c9;
            padding: 7px 9px;
            border-radius: 20px;
            color: white; }
          .page .landing .landing-content .landing-hero .hero .message .messageContent {
            max-width: 300px;
            margin: 0;
            margin-right: 5px;
            padding: 6px 10px;
            border-radius: 15px;
            line-height: 20px;
            font-size: 22px;
            font-weight: 300;
            background-color: #0084ff;
            color: white;
            word-wrap: break-word;
            overflow: wrap; }
        .page .landing .landing-content .landing-hero .hero .messageSend {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 3px; }
          .page .landing .landing-content .landing-hero .hero .messageSend .userSend {
            font-size: 18px;
            margin-right: 5px;
            background-color: #b1b1b1;
            padding: 7px 9px;
            border-radius: 20px;
            color: white; }
          .page .landing .landing-content .landing-hero .hero .messageSend .messageContentSend {
            max-width: 300px;
            margin: 0;
            padding: 6px 10px;
            border-radius: 15px;
            line-height: 20px;
            font-size: 22px;
            font-weight: 300;
            background-color: #f1f0f0;
            color: black;
            word-wrap: break-word;
            overflow: wrap; }

body {
  margin: 0;
  padding: 0; }

a {
  color: #006eff; }

input, textarea, select, button {
  font-family: -apple-system, "Roboto", system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
