form {
  max-width: 500px;
  padding: 10px; }
  form input {
    padding: 6px;
    margin: 5px 0;
    font-size: 16px;
    border: 1px solid #363636;
    border-radius: 2px;
    width: calc(100% - 14px);
    font-weight: 300;
    outline: 0; }
  form .register-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px; }
    form .register-link a {
      padding-top: 6px;
      font-size: 16px;
      font-weight: 300; }
    form .register-link button {
      font-size: 16px;
      padding: 7px 15px;
      border-radius: 5px;
      border: 1px solid #363636;
      color: #363636;
      background-color: transparent;
      outline: 0; }
      form .register-link button:hover {
        background-color: #363636;
        color: white; }
      form .register-link button:active {
        background-color: #587291; }
