.menu {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .menu a.brand {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
    margin: 0;
    text-decoration: none;
    color: black; }
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .menu ul li {
      display: inline-block;
      margin-left: 10px; }
      .menu ul li a {
        font-size: 20px;
        font-weight: 300;
        line-height: 1.6;
        padding: 5px;
        text-decoration: none; }
        .menu ul li a:hover {
          color: #004caf; }
        .menu ul li a:active {
          color: #006eff; }
